* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  background-color: #F8F8F8;
  
}

main{
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.dark-bar{
  background-color: #222;
  height: 60px;
  width: 100vw;
}

.site-header{
  background-color: #FFF;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header nav{
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-button1, .nav-button2{
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border: none;
  border-radius: 80px;
  width: 100px;
  background-color: #F4E041;
}

.nav-button1{
  margin-right: 10px;
}



.nav-button1:hover, .nav-button2:hover{
  cursor: pointer;
}

.photo-section{
  position: relative;
  background-image: url('../../public/images/pexels-alexandr-podvalny-1227513.jpeg');
  background-repeat: no-repeat;
  height: 650px;
  background-size: 210%;
  background-position: 50% 81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.photo-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.photo-section::after{
  clear: both;
}

h1{
  z-index: 1;
  color: #FFF;
  width: 380px;

  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 21px;
}

.photo-section p {
  z-index: 1;
  width: 380px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; 
  margin-bottom: 32px;
  }

  .hero-button{
    z-index: 1;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      border: none;
      border-radius: 80px;
      width: 100px;
      background-color: #F4E041;
    }

    .hero-button:hover{
      cursor: pointer;
      background-color: #FFE302;

    }
    button:disabled{
      background-color: #B4B4B4;
      color: #FFF;
    }

    .get-section{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      margin: 140px 0;
      height: auto;
    }

    h2{
      color: rgba(0, 0, 0, 0.87);
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; 
    }

    .users-info{
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 29px;
    }

    .user-box-wrapper{
      width: 370px;
      height: 254px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #FFF;
      padding: 20px;
    }

    .user-box{
      display: flex;
      width: 330px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.87);
    }

    .user-photo{
      border-radius: 70px;
    }

    .user-name{
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; 
    }

    .user-description{
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; 
    }

    .overflow-ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 330px;
    }

    .show-more-button{
      width: 120px;
      height: 34px;
    }

    .post-section{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      margin: 140px 0;
      height: 741px;
    }

    .post-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .post-position{
      display: flex;
      flex-direction: column;
      border: none;
    }

    .fieldset-input-wrapper{
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }

    .file-upload-wrapper {
      position: relative;
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: 1px solid #D0CFCF;
      margin-bottom: 50px;
    }

    .file-upload-label {
      height: 100%;
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      z-index: 1;
      cursor: pointer;
      border-radius: 4px 0px 0px 4px;
      border: 1px solid rgba(0, 0, 0, 0.87);
      padding: 14px 15px; 
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }

    .file-upload-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }


    .file-upload-text {
      display: flex;
      align-items: center;
      height: 53px;
      width: 100%;
      padding-left: 16px;
      color: #888;
      overflow: auto;
    }

    .downloaded{
      color: #000000DE;
    }

    .post-form{
      width: 288px;
    }

    .post-form input{
      display: block;
      width: 100%;
      max-height: 54px;
      border-radius: 4px;
      border: 1px solid #D0CFCF;
      padding: 14px 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; 
      background-color: #F8F8F8;
    }

    .post-form input:focus{
      outline: none;
    }

    .post-position{
      width: 100%;
    }

    .post-position legend{
      width: 100%;
      height: 25px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; 
      margin-bottom: 11px;
    }

    .post-position input{
      border: none;
    }

    

    
    input[type='radio'] {
      position: relative;
      height: 20px;
      width: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      margin-right: 5px;
    }
    
    input[type='radio']::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%23D0CFCF'/%3E%3C/svg%3E");
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

    }
    
    input[type='radio']:checked::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 21 21' fill='none'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%2300BDD3'/%3E%3Ccircle cx='10' cy='10' r='5' fill='%2300BDD3'/%3E%3C/svg%3E");
      position: absolute;
      top: 50%;
      left: 50%;
      visibility: visible;
    }

    .fieldset-input-wrapper label{
      line-height: 20px;
    }

    .fieldset-input-wrapper-last{
      margin-bottom: 47px;
    }

    .form-button{
      width: 100px;
      height: 34px;
      border-radius: 80px;
      border: none;
      background: #F4E041;
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; 
      margin: auto;
      cursor: pointer;
    }

    .form-button:disabled{
      background: #B4B4B4;
      color: rgba(255, 255, 255, 0.87);
      cursor: not-allowed;
    }

    .post-form .name-error {
      position: absolute;
      color: #CB3D40;
      font-size: 12px;
      font-weight: 700;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      top: 150px;
      padding-left: 15px;
    }

    .post-form .email-error {
      position: absolute;
      color: #CB3D40;
      font-size: 12px;
      font-weight: 700;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      top: 260px;
      padding-left: 15px;

    }

    .post-form .phone-error {
      position: absolute;
      color: #CB3D40;
      font-size: 12px;
      font-weight: 700;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding-left: 15px;
      top: 360px;
    }

    .post-form .file-error {
      position: absolute;
      color: #CB3D40;
      font-size: 12px;
      font-weight: 700;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding-left: 15px;
      top: 620px;
    }

    .input-container{
      width: 100%;
    }

    .input-container label {
      position: absolute;
      top: 106px;
      left: 460px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: all 0.2s ease;
      color: #7E7E7E;
      font-weight: 400;
      font-size: 16px;
      width: 85px;
      height: 20px;
    }

        .container-name input:focus+label,
        .container-name input:valid+label {
          transform: translateY(-26px);
          background-color: #F8F8F8;
          color: #7E7E7E;
          font-size: 14px;
          text-align: center;

        }
    
        .input-container input:focus+label::after,
        .input-container input:valid+label::after {
          transform: translateX(0%);
        }

        .container-email label {
          position: absolute;
          top: 206px; 
          left: 460px; 
          width: 100%;
          height: 100%;
          pointer-events: none;
          transition: all 0.2s ease;
          color: #7E7E7E;
          font-weight: 400;
          width: 50px;
          height: 20px;
          text-align: center;
        }
        
        .container-email input:focus+label {
          transform: translateY(-23px); 
          background-color: #F8F8F8;
          color: #7E7E7E;
          font-size: 14px;
          text-align: center;
        }

        .container-email input:not(:placeholder-shown)+label{
          transform: translateY(-23px); 
          background-color: #F8F8F8;
          color: #7E7E7E;
          font-size: 14px;
          text-align: center;

        }
        



        .container-phone label {
          position: absolute;
          top: 314px;
          left: 460px;
          width: 100%;
          height: 100%;
          pointer-events: none;
          transition: all 0.2s ease;
          color: #7E7E7E;
          font-weight: 400;
          width: 55px;
          height: 20px;
        }

        .container-phone input:focus+label,
        .container-phone input:valid+label {
          transform: translateY(-26px);
          background-color: #F8F8F8;
          color: #7E7E7E;
          font-size: 14px;
          text-align: center;


        }

        .input-container-error input{
          border-color: #CB3D40;
          border-width: 4px;
        }
        .input-container-error label{
         color: #CB3D40 !important;
        }


        .file-upload-error label{
          border: 2px solid #CB3D40;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        .file-upload-error .file-upload-text{
          border-bottom: 2px solid #CB3D40;
          border-top: 2px solid #CB3D40;
          border-right: 2px solid #CB3D40;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;

          

        }

        .file-upload-text-added{
          color: #000000DE;
          font-weight: 700;
        }

        



    

